body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;



}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}



.header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


}
.container  {
    /* width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px; */
    max-width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header-container {
display: flex;
justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-logo-web {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-logo {

    font-family: 'Raleway', sans-serif;
    color:  #2E2F42;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.menu-nav {
    display: flex;
    gap: 40px;
}

.link-studio  {
    
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    display: block;
}

    .studio-nav a:focus , 
    .studio-nav a:hover {
        color: #404bbf;  
        
    }
.address {
    display: flex;
    gap: 40px;
}

.contacts-nav a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color:  #2E2F42;
}

.contacts-nav a:focus , 
.contacts-nav a:hover {
    color: #404bbf;  
  }


.tel-email {
    font-style: normal;
}
.email {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.telephone a {
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455;
}
.tel-email a:focus, 
.tel-email a:hover {
    color: #404bbf;  
}

.solution {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    margin: 0 auto;
    
    /* margin: auto;
    
    background:  #2E2F42; */
    /* padding: 188px 0;
    max-width: 1440px; */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
}
.title-name {
    /* max-width: 496px; */
    width: 216px;
    color:  #FFF;
text-align: center;

font-family: Roboto;
/* font-size: 56px; */
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin: 0 auto;

}


.btn-order {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    color:  #FFF;
    font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
/* margin-top: 48px; */
/* margin-top: 72px; */
margin-left: auto;
margin-right: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:focus ,
 .btn-order:hover {
    background-color: #404BBF;
}

.advantages {
    /* padding: 120px 0; */
    padding-top: 96px;
    padding-bottom: 24px;
}
.advantages-list {
    /* display: flex;
    gap: 24px; */

}

/* icons-team {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px; 
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
} */
.advantages-text {
    /* width: calc((100% - 72px) / 4); */
margin: 0 auto;
}

.name-adv {
    /* font-weight: 500;
    font-size: 20px; */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
    
    
}
.team-list .team-list-profil .team-list-text .name-adv{
    font-size: 20px;
    font-weight: 500;
}

.text-adv {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 72px;
}
.team-list .team-list-profil .team-list-text .text-adv {
    margin-bottom: 8px;
    font-weight: 400;
}



.our-team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}
.name-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    /* display: flex;
    gap: 24px; */  
}
.team-list-profil {
    /* width: calc((100% - 72px) / 4); */
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
margin-bottom: 72px;

}
.team-list-profil img {
    width: 100%;
}
.team-list-profil:last-child {
    margin-bottom: 0;
}

.team-list-text {
    padding: 32px 0;
}
.soc-links {
        display: flex;
        justify-content: center;
        gap: 24px;
}
.soc-links-item {
    width: 40px;
    height: 40px;

}
.soc-links-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.soc-links-a:hover , 
.soc-links-a:focus {
    background-color: #404bbf;
}
.link-img {
    fill: #f4f4fd;
}



.our-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
    
}
.services-list-img:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   
}
.services-list-img {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.services-list-img:hover .text-portfolio{
    transform: translateY(0%);
}

.img-portfolio {
    position: relative;
    overflow: hidden;
}

.text-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.name-team {
    margin-bottom: 72px;
    text-align: center;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
background:  #FFF;
}
.services-list-img {
    width: calc((100% - 48px) / 3);
}
.servises-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-nav a:focus , 
.portfolio-nav a:hover {
    color: #404bbf;  
  }

.name-app {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-cont {
    display: flex;
    align-items: baseline;
   
}
.logo-text {
    margin-right: 120px;
}



.footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list {
display: flex;
gap: 16px; 
}
.footer-logo-web {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo  {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-icons {
    width: 40px;
    height: 40px;
    

}

.icons-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.icons-link:hover ,
.icons-link:focus {
    background-color: #31d0aa;
}

.icon-svg {
    fill: #f4f4fd;
}
.form-email {
    margin-left: auto;
}

.p-form-email {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    
}

.form-send {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em; 
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    color: #ffffff;
}
.footer-input::placeholder {
    color: #ffffff; 
}

.btn-footer {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-icon-svg {
    margin-left: 16px;
    fill: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.back-color-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.40);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
background-color:   #FCFCFC;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.btn-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover ,
.btn-modal:focus {
    background-color: #404bbf;
    border: none;
}

.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn-modal:focus > .close-svg ,
.btn-modal:hover > .close-svg {
    fill: #ffffff;
}
.p-modal-window {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
    font-style: normal;
}

.form-modal {
    margin-bottom: 8px;
}
.form-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.input-wrap {
    position: relative;
}
.form-input {
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px; 
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-input:focus {
    border-color: #4D5AE5;
}

.input-name-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:focus + .input-name-svg {
    fill: #4D5AE5;
}

.input-comment {
    margin-bottom: 16px;
}
.text-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.text-comment:focus {
    border-color: #4D5AE5;
}

.checkbox-wrap {
    margin-bottom: 24px;
}
.check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;

}
.span-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    
    
}

#user-privacy:checked + .check-label .span-check {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}
.send-form {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    margin-left: 95px;
}


@media screen and (min-width: 768px) {
    .container {
    max-width: 736px;
    padding-left: 16;
    padding-right: 16px;
    margin: 0 auto;
    }
    .solution {
        padding-top: 112px;
        padding-bottom: 112px;
        width: 768px;
    }
    .title-name {
        width: 496px;
        /* width: 216px; */
        font-size: 56px;
     /* font-size: 36px; */
    margin-bottom: 36px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.12px;
    color: #ffffff;
    margin-bottom: 32px;
    }
}